@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './modal.css';

@theme {
  --background-image: url('/img/welcome.jpg');
}

@layer base {
  :root {
    --color-teal-50: #f5f5f5;
    --color-teal-100: #e0e0e0;
    --color-teal-200: #bdbdbd;
    --color-teal-300: #9e9e9e;
    --color-teal-400: #616161;
    --color-teal-500: #424242; /* 主色：深灰，內斂 */
    --color-teal-600: #2e2e2e;
    --color-teal-700: #1c1c1c;
    --color-teal-800: #121212;
    --color-teal-900: #0a0a0a; /* 幾乎純黑，適合背景 */
  }
}

.bg-welcome {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* .calcite-box {
  @apply shadow rounded-md border border-[#F4F4F5];
} */
@layer components {
  .calcite-box {
    @apply shadow rounded-md border border-[#F4F4F5];
  }
  .calcite-focus {
    @apply focus:border-teal-400 focus:outline-none focus:ring-4 focus:ring-teal-400/10;
  }
  .calcite-hover {
    @apply border border-[#F4F4F5] hover:border-teal-400 hover:ring-4 hover:ring-teal-400/40;
  }
  /* 2A2A2B */
}

.custom-li {
  @apply border-l-4 border-teal-400 pl-4 hover:bg-gray-100 py-2 transition;
}
